extends ../layout.pug 
block content       
    //- h1 page pour données de description d'un bien en particulier   
    .container 
        .row.rowallpageDescriptionHouse
            .row.rowDescriptionSingleHouse 
                img.col-lg-6(src='/images/Screenshot.png')
                .col-lg-6 
                    .row.rowPicAndNomAgence 
                        img.col-3(src="https://img.leboncoin.fr/api/v1/lbcpb1/images/12/19/12/121912104876575.jpg?rule=bo-thumb")
                        div.col-9 
                            h5 PECLERS IMMOBILIER
            
             
            